*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.61);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    
}
header{
    background-color: black;
    height: fit-content;
    min-width: 100vw;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    padding: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-size: large;
}
h1{
    color: white;
    padding: 20px;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 20px;
    font-size: 250%;
    border-bottom: 5px solid black;
}
button{
    height: 50px;
    width: 150px;
    font-size: large;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.767);
    color: white;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    font-size: 200%;
}
.about_me{
    padding: 100px 0;
    border-bottom: 2px solid black;
}
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    gap: 50px;
    padding: 100px 0;
    border-bottom: 2px solid black;

}
.skill_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.skill{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.877);
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5);
}
.project{
    display: flex;
    flex-direction: column;
    justify-self:center;
    align-items: center;
    padding: 100px 0;
    gap: 20px;

}
img{
    height: auto;
    width: 100%;
}
.ft{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: auto;
    height: fit-content;
    color: white;
    padding: 20px;
}
